html, body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
}

main {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
        "create readme"
        "vis2d vis3d"
    ;
    justify-items: center;
    align-items: center;
    gap: 8px;
}

.readme {
    position: relative;
    grid-area: readme;
    max-width: 600px;
    border: 0;
    width: 100%;
    height: 100%;
}

.cube {
    position: relative;
    display: grid;
    grid-area: create;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas: 
        "btn1 up rnd rnd"
        "left front right back"
        "exec down btn2 btn2"
    ;
    align-items: start;
    justify-items: start;
}

.buttons {
    position: relative;
    width: 150px;
    height: 150px;
    grid-area: btn1;
    box-sizing: border-box;
    padding: 8px;
}

.buttons-rotate {
    position: relative;
    width: 300px;
    height: 150px;
    grid-area: btn2;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: repeat(3, 50px);
    justify-items: center;
    align-items: center;
}

.buttons-rotate input[type=text] {
    grid-column: 1/6;
    justify-self: start;
    margin-left: 11px;
    width: 220px;
}

.random {
    position: relative;
    width: 300px;
    height: 150px;
    grid-area: rnd;
    box-sizing: border-box;
    padding: 8px;
}

.random textarea {
    width: 100%;
    margin-top: 8px;
}

.execute {
    position: relative;
    width: 150px;
    height: 150px;
    grid-area: exec;
    box-sizing: border-box;
    padding: 8px;
}

.execute textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 108px;
    margin-bottom: 8px;;
}

.monospace {
    grid-area: vis2d;
    position: relative;
    font-size: 30px;
    font-family: monospace;
    width: 19.5em;
    background: #eee;
    white-space: pre;
    margin: 10px 0;
}

.cube-side {
    position: relative;
    width: 150px;
    height: 150px;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    grid-template-areas: 
        "a b c"
        "d e f"
        "g h i"
    ;
    justify-items: center;
    align-items: center;
    border: 1px solid #000;
}

.cube-side.up {
    grid-area: up;
    background-color: rgba(0, 0, 255, 0.5);
}

.cube-side.left {
    grid-area: left;
    background-color: rgba(255, 255, 0, 0.5);
}

.cube-side.front {
    grid-area: front;
    background-color: rgba(255, 155, 0, 0.5);
}

.cube-side.right {
    grid-area: right;
    background-color: rgba(255, 255, 255, 0.5);
}

.cube-side.back {
    grid-area: back;
    background-color: rgba(255, 0, 0, 0.5);
}

.cube-side.down {
    grid-area: down;
    background-color: rgba(0, 255, 0, 0.5);
}

.cube-side input[type=text] {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    line-height: 40px;
    text-align: center;
    border: 1px solid #999;
}

.cube3d-frame {
    position: relative;
    grid-area: vis3d;
    perspective: 600px;
    --rotation-x: 0deg;
    --rotation-y: 0deg;
    --rotation-z: 0deg;
    justify-self: stretch;
    align-self: stretch;
    user-select: none;
    max-width: 600px;
}


.cube3d {
    position: absolute;
    transform-style: preserve-3d;
    /* transform: rotate3d(45deg, 45deg, 45deg); */
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    transform: translateX(calc(50% + 100px)) translateY(calc(50% + 50px)) rotateX(var(--rotation-x)) rotateY(var(--rotation-y)) rotateZ(var(--rotation-z));
}

.cube3d>div {
    position: absolute;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 33.33%);
    grid-template-areas: 
        "a b c"
        "d e f"
        "g h i"
    ;
    justify-items: center;
    align-items: center;
    background: #333;
}

.cube3d .face-up {
    transform: rotateX(90deg) translateZ(100px);
}

.cube3d .face-left {
    transform: rotateY(-90deg) translateZ(100px);
}

.cube3d .face-front {
    transform: rotateY(0deg) translateZ(100px);
}

.cube3d .face-right {
    transform: rotateY(90deg) translateZ(100px);
}

.cube3d .face-back {
    transform: rotateY(180deg) translateZ(100px);
}

.cube3d .face-down {
    transform: rotateX(-90deg) translateZ(100px);
}

.cube3d .cube-face {
    position: relative;
    display: grid;
    width: 95%;
    height: 95%;
    font-size: 24px;
    background: #333;
    border-radius: 5px;
    place-items: center;
}

.cube3d .cube-face[data-color="0"] {
    background: #00f;
    color: #fff;
}

.cube3d .cube-face[data-color="1"] {
    background: #ff0;
}

.cube3d .cube-face[data-color="2"] {
    background: #f80;
}

.cube3d .cube-face[data-color="3"] {
    background: #fff;
}

.cube3d .cube-face[data-color="4"] {
    background: #f00;
    color: #fff;
}

.cube3d .cube-face[data-color="5"] {
    background: #080;
    color: #fff;
}